/* 
**RULE KEY**:
=======
Size
Display
Flex rules
Color
Margin
Border
Padding
Font
Text
Misc */

@import url("https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap");

* {
  /* border: 1px solid red; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Just Another Hand", cursive;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

/* NAVIGATION */
.page-left {
  height: 100vh;
  width: 25%;
  /* position: relative; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #b9c5c7;
  overflow: hidden;
  z-index: 10;
}

.logo-text {
  font-size: 2em;
  position: absolute;
  margin-top: 2em;
}

.nav-section {
  height: 86%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.nav-section > img {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  text-align: center;
}

.nav-links {
  height: 305px;
  width: 50%;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 1em;
  font-size: 2em;
  text-align: center;
}

button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-family: "Just Another Hand", cursive;
  font-size: 1em;
}

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 40%;
  margin-top: 10%
}

.search-field-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-field-container > input {
  height: 2em;
  width: 70%;
  border-radius: 5px;
  text-align: center;
}

.search-field-container > button {
  height: 1.1em;
  width: 1.6em;
  font-size: 0.85em;
  border-radius: 5px;
  text-align: center;
  background-color: lightgrey;
}

.search-label {
  font-size: .7em;
}

.search-filter {
  width: 90px; /* fix search by box as this update made it stack*/
}

/* LANDING PAGE */

header {
  text-align: center;
}

h1 {
  font-size: 4em;
  margin-top: 5px;
}

.page-right {
  width: 75%;
  background-color: #d7d2cc;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.modal-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.full-recipe-card {
  height: 856px;
  width: 656px;
  margin-left: 18vw;
  border: 1px solid black;
  box-shadow: hsla(0, 0, 0, 0.5);
  background-color: white;
  overflow: scroll;
}

.exit-full-card {
  height: 35px;
  width: 35px;
  background-color: black;
  color: white;
  font-size: 1.4em;
  align-items: center;
  border-radius: 5px;
  position: absolute;
  transform: translate(1700%, 10%);
}

.exit-full-card:hover{
  background-color: grey;
}

#fullCardImage {
  height: 437px;
  width: 100%;
}

.save-to-cook {
  width: 20%;
  height: 3%;
  font-size: 1.2em;
  border-radius: 5px;
  text-align: center;
  background-color: lightgrey;
  margin-left: 79%
}

.ingredient {
  width: 200px;
}

.inside {
  list-style-position: inside;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.full-card-text {
  font-size: 1.5em;
  padding-left: 0.25em;
}

.ingredient-items {
  max-height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  flex-wrap: wrap;
}

.ingredient-items > li {
  width: 200px;
}

.item {
  padding: 0.25em;
}

.landing-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: hsla(0, 0, 0, 0.5);
}

.center-piece {
  height: 52%;
  width: 650px;
  /* max-height: 55%; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

.carousel-card {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover;
  background-image: url(https://spoonacular.com/recipeImages/779583-556x370.jpg);
}

.center-piece-banner {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(235, 233, 233, 0.75);
}

.recipe-name {
  font-size: 2em;
  padding: 0.25em;
}

.card-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.recipes-list {
  width: 650px;
  max-height: 15%;
}

.recipe-list-title {
  font-size: 2em;
  padding-bottom: 5px;
}

.recipe-card {
  height: 316px;
  width: 275px;
  max-width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 7px;
  margin-bottom: 7px;
  background-color: #b9c5c7;  /*experiment color*/
}

.recipe-card > img {
  height: 75%;
  width: 100%;
}

.heart-container {
  display: flex;
  justify-content: space-between;
}

.fav-heart {
  height: 30px;
  width: 30px;
  margin-top: 20%;
  margin-right: 2%;
}

.tag {
  height: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: end;
}

.list {
  height: 2em;
  justify-content: start;
  list-style: none;
}

.list > li {
  width: 5em;
}

.hero-tags {
  margin-left: 20%;
  display: flex;
  align-items: center;
}

.first-tag {
  font-size: 1.5em;
}


.search-instruction {
  font-size: 0.1em;
  margin-top: -5px;
  font-family: 'Times New Roman', Times, serif;
  white-space: nowrap;
}

/* FULL RECIPE CARD (MODAL) */
.dimmed {
  position: relative;
}

.dimmed:after {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

/* MISCELLANEOUS */

.click {
  cursor: pointer;
}

.hidden {
  display: none;
}
