/* 
**RULE KEY**:
=======
Size
Display
Flex rules
Color
Margin
Border
Padding
Font
Text
Misc */

* {
    border: 1px solid red;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 1px solid yellow;
}

.page-left {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-section {
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

img {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    text-align: center;
}

.nav-links {
    list-style: none;
    text-align: center;
}

.userInput > input {
    width: 100%;
    text-align: center;
}

.search-filter > select {
    width: 19px;
}

.page-right {
    width: 75%;
}

.landing-page {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: hsla(0, 0, 0, .5);
}

.center-piece {
    height: 50%;
    width: 55%;
}

.recipes-list {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.recipe-card {
    height: 316px;
    width: 275px;
}

.hidden {
    display: none;
}